.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Dd]ocumentation/
*.VC.db
*.VC.VC.opendb
*.user
*.suo
*.sdf
*.ncb
*.sbr
*.obj
*.pdb
*.pch
*.log
*.zip

Calc.vcxproj
*.filters

*.html
*.txt
*.png
*.js
*.htm

[Dd]ocumentation/
